.App {
  text-align: center;
  background-color: rgba(255, 228, 196, 0.651);

}

.header-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.header-link:hover {
  background-color: burlywood;
  border-radius: 5px;
  
}
                  

/* =========== Scollbar CSS ========= */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 228, 196, 0.651);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(234, 175, 97);
  border-radius: 20px;
  
}
