.banner-container {
    
   
    
}

.img-bg {

    -webkit-clip-path: polygon(84% 0, 100% 50%, 80% 100%, 3% 100%, 10% 50%, 3% 0);
    clip-path: polygon(84% 0, 100% 50%, 80% 100%, 3% 100%, 10% 50%, 3% 0);
    background-color: rgba(224, 174, 87, 0.658);
    
    
}


.banner-img {
    height: 100%;
    width: 100%;

}


.banner-box {
    width: 70%;
    margin-top: 20px;
    


}


.banner-box-left {
    background-color: black;
    color: wheat;
    font-weight: bold;
    font-size: 40px;


}

.banner-box-right {
    background-color: rgba(224, 174, 87, 0.658);
    font-weight: bold;
    font-size: 40px;
}

#banner-header-1 {
    font-size: 50px;
}


#banner-header-2 {
    font-size: 100px;
}

#banner-rotated-text {
    font-family: cursive;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 30px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    writing-mode: lr-tb;
    animation: banner-rotated-text 1s infinite;

}

@keyframes banner-rotated-text {
    0% { color: rgb(255, 0, 0); }
    50% { color: blue; }
    100% { color: red; }
  }

  .header-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
  }